body{
	margin:0;
	padding:0;
	font: 15px Arial;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tac{text-align: center;}

#userbox{
	border: 1px solid #ccc;
	padding: 10px;
	border-radius:4px;
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}

#userbox input, #userbox button{
	padding: 10px;
}

#userbox button{
	margin-top: 20px;
	background: #0044ff;
	color: #fff;
	border: 0;
}

#wrapper{
	border: 1px solid #ccc;
    width: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    display: none;
    border-radius: 10px;
}

#wrapper .header{
	border-bottom: 1px solid #ddd;
	padding: 10px;
	display: flex;
	background: #ecf0f1;
}

.header .timer, .header .score{
	flex: 1;
}

.header .score{
	text-align: right;
}

#wrapper .body{
	padding: 20px 40px;
}

.buttons-box{
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.controls-bar{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#wrapper .body .btn {
    padding: 15px 15px;
    width: 100px;
    border: 0;
    border-radius: 4px;
    margin: 0 20px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#wrapper .body .btn.yes{
	background: green;
	color: white;
}

#wrapper .body .btn.no{
	background: red;
	color: white;
}

#wrapper .body .upper-box, #wrapper .body .lower-box {
    padding: 10px 15px;
    border: 1px solid #ccc;
    width: 100px;
    margin: 10px 0;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 0;
}

.controls-bar{
	display: flex;
}

.wrong-attempt-box{
	color: #ff0000;
	padding: 10px;
}

@media screen and (max-width: 600px) {
  #wrapper {
    width: 80%;
  }
}